style.
    th, td {
        border: 1px solid gray;
        padding: 5px;
    }

div
    h3 Hello, #{name}. Please click on the link above to reset your password:
    a(href=link, style={'margin-bottom': '5px', display: 'inline-block', 'text-decoration': 'none'}) Password-reset link
